doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mad Women

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        video(controls)
          source(src="images/mad_men_intro.webmhd.webm" type="video/webm")

      section
        h1 Mad Men

      section
        h1 Mad Women
        h4 The role of female Americans in the 60's and 70's

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Some things about Mad Men

      section
        ul.myl
          li American drama television series by Matthew Weiner
          li premiered on July 19, 2007 on AMC
          li 7 seasons summing up to 92 episodes
          li final episode aired on May 17, 2015

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 The Setting

      section
        ul.myl
          li set primarly in the 1960's and 1970's
          li first at the fictional advertising agency <i>Sterling Cooper</i> on Madison Avenue, New York
          li <i>Mad Men</i> stands for the men working at advertising agencies on Madison Avenue
          li later at <i>Sterling Cooper Draper Pryce on Sixth Avenue</i>

      section
        img(src="images/maps.png" width="480")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 The Story

      section
        h2 The Story - Main Character
        ul.myl
          li Don Draper is the Creative Director at Sterling Cooper
          li he is brilliant, but no one knows much about him
          li Don is married to Betty, but has several affairs during the seasons
          li excessive drinking and smoking is common

      section
        h2 The Story - What happens?
        ul.myl
          li get bigger clients, excel the competition
          li come up with innovative ideas
          li keep clients
          li fend hostile takeovers

      section
        h2 The Story - How is it told?
        ul.myl
          li story is told in a centripedal fashion
          li few new main characters are introduced
          li you learn a lot about the main characters during the seasons

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Main Characters
        img(src="images/mad_men_cast.jpg")

      section
        h2 Don Draper
        img(src="images/mad-women-don-draper-life.jpg" width="480")

      section
        h2 Don Draper
        img(src="images/draper.jpg" width="480")

      section
        h2 Bertram Cooper
        img(src="images/cooper.jpg" width="480")

      section
        h2 Roger Sterling
        img(src="images/sterling.jpg" height="360")

      section
        h2 Pete Campbell
        img(src="images/pete.jpg" width="480")

      section
        h2 Betty Draper
        img(src="images/betty.jpeg" height="360")

      section
        h2 Peggy Olson
        img(src="images/peggy.jpg" height="360")

      section
        h2 Joan P. Holloway
        img(src="images/joan.jpg" height="360")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Female stereotypes in Mad Men

      section
        blockquote.text-center
          i
            “Have dinner ready, prepare yourself, prepare the children, minimize all noise, be happy to see him, listen to him, make the evening his”<br><small>Home Economics High School Text Book</small>


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Betty Draper

      section
        img(src="images/betty-housewife.jpg")

      section
        h2 Betty
        ul.myl
          li desires the picture perfect family life
          li centered around her husband and the kids
          li no career ambitions
          li following the traditional gender role model(propagated by the gov in the 50/60's)

      section
        video(controls)
          source(src="images/betty_trash_talk.webmhd.webm" type="video/webm")

      section
        video(controls)
          source(src="images/mad_men_betty_family_picture.webmhd.webm" type="video/webm")

      section
        ul.myl
          li no <i>real</i> problems
          li thinks her beauty is what keeps Don by her side
          li childish behaviour

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Joan Holloway

      section
        ul.myl
          li Office Manager and Head of Secretaries at Sterling Cooper
          li has an affair with Roger Sterling
          li very feminine
          li self confident

      section
        video(controls)
          source(src="images/peggy_joan_office.webmhd.webm" type="video/webm")

      section
        video(controls)
          source(src="images/jaguar.webm" type="video/webm")

      section
        video(controls)
          source(src="images/joaaan.webmhd.webm" type="video/webm")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Peggy Olson

      section
        ul.myl
          li came from Miss Deaver's secretarial school directly to Sterling Cooper
          li quite the opposite to Joan
          li doesn't want to be recognized for her femaleness, rather for her professional work
          li appears kind of cold to her coworkers

      section
        video(controls)
          source(src="images/joan_trolls_peggy.webm" type="video/webm")

      section
        video(controls)
          source(src="images/joan_offers_peggy.webm" type="video/webm")

      section
        video(controls)
          source(src="images/peggy_final.webm" type="video/webm")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 So, should you watch it?

      section
        h2 Awards - Golden Globe
        ul.myl
          li 2007: Best Television Series - Drama
          li 2008: Best Television Series - Drama
          li 2008: Best Televison Series Actor – Drama - Jon Hamm
          li 2009: Best Television Series - Drama

      section
        h2 Awards - Emmy
        ul.myl
          li 2008: Best Drama Series
          li 2009: Best Drama Series
          li 2009: Best Writing for a Drama Series for Andre Jacquemetton, Maria Jacquemetton and Matthew Weiner (Episode: Six Month Leave)
          li 2010: Best Drama Series
          li 2011: Best Drama Series


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Thank You
      <!-- section -->
      <!--   h2 Sources -->
      <!--   ul.myl -->
      <!--     li Vanessa Martins Lamb. The 1950’s and the 1960’s and the American Woman : the transition -->
      <!--     from the ”housewife” to the feminist. History. 2011. <dumas-00680821>(http://dumas.ccsd.cnrs.fr/dumas-00680821/document) -->


    script(src='build/build.js')
